<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body style="margin: 10px;">
    <!-- Header -->
    <div class="container" style="display: flex; gap: 0; max-width: 500px;">
        <div style="width: 100px; align-content: center; text-align: center;">
            <nav class="navbar bg-body-tertiary fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/dashboard">Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/historicalExpenses">Expense History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Movement History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Budget</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Main Content -->
    <div class="container mt-5 p-4 border rounded-3 shadow" style="max-width: 500px;">
        <!-- Greeting -->
        <div class="container" style="display: flex; gap: 0; max-width: 500px;">
            <h3 id="greeting">Hello!</h3>
        </div>
        <!-- Monthly Expenses -->
        <div class="container" style="display: flex; gap: 0; max-width: 500px;">
            <div style="width: 400px; align-content: center; border: 1px solid #000000;">
                <p id="monthlyExpenses"><b>Monthly Expenses: </b></p>
            </div>
            <div style="width: 100px; align-content: center; text-align: right; border: 1px solid #000000;">
                <div>
                    <button type="button" class="btn btn-primary history-btn" id="historicalExpenses"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        History
                    </button>
                </div>
            </div>
        </div>
        <!-- Total Balance -->
        <div class="container" style="display: flex; gap: 0; max-width: 500px;">
            <div style="width: 400px; align-content: center; border: 1px solid #000000;">
                <p id="totalBalance"><b>Total Balance: </b></p>
            </div>
            <div style="width: 100px; align-content: center; text-align: right; border: 1px solid #000000;">
                <div>
                    <button type="button" class="btn btn-primary details-btn"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Details
                    </button>
                </div>
            </div>
        </div>
        <!-- Action Buttons -->
        <div class="container" style="display: flex; gap: 0; max-width: 500px;">
            <div style="width: 166px; align-content: center; text-align: center; border: 1px solid #000000;">
                <button type="button" class="btn btn-primary add-expense-btn"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    data-bs-target="#addExpenseModal" data-bs-toggle="modal">
                    Add Expense
                </button>
            </div>
            <div style="width: 166px; align-content: center; text-align: center; border: 1px solid #000000;">
                <button type="button" class="btn btn-primary move-money-btn"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    data-bs-target="#moveMoneyModal" data-bs-toggle="modal">
                    Move Money
                </button>
            </div>
            <div style="width: 166px; align-content: center; text-align: center; border: 1px solid #000000;">
                <button type="button" class="btn btn-primary add-income-btn"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    data-bs-target="#addIncomeModal" data-bs-toggle="modal">
                    Add Income
                </button>
            </div>
        </div>
        <!-- Expenses Table -->
        <div class="container" style="max-width: 500px; max-height: 60vh; overflow: auto;">
            <table class="table table-hover" style="border: 1px solid #000000; width: 200%;" id="expensesTable">
                <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Account</th>
                        <th scope="col">Category</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody id="expensesTableBody">
                    <tr>
                        <td>Loading...</td>
                        <td>Loading...</td>
                        <td>Loading...</td>
                        <td>Loading...</td>
                        <td>Loading...</td>
                    </tr>
                    <tr>
                        <td>Loading...</td>
                        <td>Loading...</td>
                        <td>Loading...</td>
                        <td>Loading...</td>
                        <td>Loading...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Add Expense Modal -->
    <div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addExpenseModalLabel">Add Expense</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addExpenseForm">
                        <div class="mb-3">
                            <label for="expenseAmount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="expenseAmount">
                        </div>
                        <div class="mb-3">
                            <label for="expenseDescription" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="expenseDescription">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select an account:</label>
                            <select class="form-select" id="expenseAccountSelect"></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select a category:</label>
                            <select class="form-select" id="expenseCategorySelect"></select>
                        </div>
                        <span id="expenseErrorMessage" class="form-text text-danger"></span>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addExpenseButton">Add Expense</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Move Money Modal -->
    <div class="modal fade" id="moveMoneyModal" tabindex="-1" aria-labelledby="moveMoneyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="moveMoneyModalLabel">Move Money</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="moveMoneyForm">
                        <div class="mb-3">
                            <label for="moveAmount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="moveAmount">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">From account:</label>
                            <select class="form-select" id="fromAccountSelect"></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">To account:</label>
                            <select class="form-select" id="toAccountSelect"></select>
                        </div>
                        <span id="moveMoneyErrorMessage" class="form-text text-danger"></span>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addMovementButton">Move Money</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Income Modal -->
    <div class="modal fade" id="addIncomeModal" tabindex="-1" aria-labelledby="addIncomeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addIncomeModalLabel">Add Income</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addIncomeForm">
                        <div class="mb-3">
                            <label for="incomeAmount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="incomeAmount">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select an account:</label>
                            <select class="form-select" id="incomeAccountSelect"></select>
                        </div>
                        <span id="incomeErrorMessage" class="form-text text-danger"></span>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addIncomeButton">Add Income</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="container"
        style="text-align: center; padding: 10px; background-color: #f1f1f1; color: #333; max-width: 500px;">
        © 2025 All rights reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>