<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="p-4 border rounded-3 shadow" style="margin: 10px;">
    <!-- logo -->
    <div class="container" style="display: flex; gap: 0; max-width: 500px;">
        <div style="width: 400px; align-content: center; text-align: center;">
            <h1>logo</h1>
        </div>
    </div>
    <!-- greeting -->
    <div class="container" style="display: flex; gap: 0; max-width: 500px;">
        <h3 id="greeting">Hello!</h3>
    </div>
    <!-- form -->
    <div id="first-form" style="display: block;">
        <div class="container" style="max-width: 500px;">
            <h1 class="text-center">Questionnaire</h1>
            <form style="height: 550px; overflow-y: scroll;">
                <div class="mb-3">
                    <label for="accountName" class="form-label">Give a name to your account</label>
                    <input type="text" class="form-control" id="accountName">
                </div>
                <div class="mb-3">
                    <label for="accountBalance" class="form-label">Write your account's current balance without dots or commas</label>
                    <input type="number" class="form-control" id="accountBalance" placeholder="example: 1000000000">
                </div>
                <div class="mb-3">
                    <label for="cashAmount" class="form-label">How much cash do you have?</label>
                    <input type="number" class="form-control" id="cashAmount" placeholder="example: 1000000000">
                </div>
                <div class="mb-3">
                    <label for="category1" class="form-label">Write one category of your expenses</label>
                    <input type="text" class="form-control" id="category1" placeholder="example: food, clothing">
                </div>
                <div class="mb-3">
                    <label for="category2" class="form-label">Write another category of your expenses</label>
                    <input type="text" class="form-control" id="category2" placeholder="example: food, clothing">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" id="submitButton">Submit Answers</button>
                </div>
            </form>
        </div>

        <footer class="container"
            style="text-align: center; padding: 10px; background-color: #f1f1f1; color: #333; max-width: 500px;">
            © 2025 All rights reserved.
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/questions.js') }}"></script>
</body>

</html>