<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Admin - Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

</head>

<body class="bg-gray-950 text-white min-h-screen flex flex-col">

  <!-- NAVBAR -->
  <nav class="bg-gray-900 border-b border-gray-700">
    <ul class="flex justify-center space-x-6 p-4 text-lg font-semibold">
      <li><a href="admin" class="text-gray-300 hover:text-purple-600">Chat</a></li>
      <li><a href="dashboard" class="text-purple-400 hover:text-purple-600">Dashboard</a></li>

    </ul>
  </nav>

  <!-- CONTENIDO DEL DASHBOARD -->
  <div class="w-full max-w-4xl mx-auto mt-6 p-6 bg-gray-900/80 backdrop-blur-md rounded-2xl shadow-xl">
    <h2 class="text-2xl font-bold mb-4">📊 Estado del Servidor</h2>
    <div id="server-status" class="space-y-3">
      <!-- <p class="text-gray-300">CPU: <span id="cpu" class="text-green-400">Cargando...</span></p> -->
      <!-- <p class="text-gray-300">Memoria RAM: <span id="memory" class="text-green-400">Cargando...</span></p>
      <p class="text-gray-300">Uso de Disco: <span id="disk" class="text-green-400">Cargando...</span></p>
      <p class="text-gray-300">Usuarios conectados: <span id="users" class="text-green-400">Cargando...</span></p> -->
    </div>
    <!-- cpu y RAM -->
    <div class="grid grid-cols-2 gap-6 mt-6">
      <!-- CPU -->
      <div class="bg-gray-800 p-4 rounded-xl shadow">
        <h3 class="text-lg font-semibold mb-2">CPU: <span id="cpu" class="text-green-400">Cargando...</span></h3>
        <h3 class="text-xs font-semibold mb-2">Nombre CPU: <span id="cpu_name" class="text-green-400">Cargando...</span></h3>
        <canvas id="cpuChart"></canvas>
      </div>
      <!-- RAM -->
      <div class="bg-gray-800 p-4 rounded-xl shadow">
        <h3 class="text-lg font-semibold mb-2">Memoria RAM: <span id="memory" class="text-green-400">Cargando...</span>
        </h3>
        <canvas id="memoryChart"></canvas>
      </div>
    </div>
    <!-- disco y Usuarios -->
    <div class="grid grid-cols-2 gap-6 mt-6">
      <!-- Disco -->
      <div class="bg-gray-800 p-4 rounded-xl shadow">
        <h3 class="text-lg font-semibold mb-2">Uso de Disco: <span id="disk" class="text-green-400">Cargando...</span></h3>
        <canvas id="diskChart"></canvas>
      </div>
      <!-- Usuarios -->
      <div class="bg-gray-800 p-4 rounded-xl shadow">
        <h3 class="text-lg font-semibold mb-2">Usuarios Conectados: <span id="users" class="text-green-400">Cargando...</span></h3>
        <canvas id="usersChart"></canvas>
    </div>
  </div>
  <script src="/static/dashboard.js"></script>
</body>

</html>